#particles-js {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background-color: rgb(44, 46, 67);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.particles-js {
  z-index: 1;
}

.particles-js-canvas-el {
  width: 100%;
  height: 100%;
}

.text-orange {
  color: #ff5900;
}

.bg-orange {
  background-color: #ff5900;
}

*:not(input) {
  color: white !important;
}