<div class="mail-body">
    <div style="padding-bottom: 30px; font-size: 17px;">
        <strong>Inscription</strong>
    </div>
    <div style="padding-bottom: 30px">
        Pour activer votre compte, veuillez cliquer sur le bouton ci-dessous pour vérifier votre adresse e-mail.
        Une fois activé, vous aurez un accès complet à notre espace personnel.
    </div>
    <div style="padding-bottom: 40px; text-align:center;">
        <a href="{{ button_url }}"
           rel="noopener"
           class="btn btn-primary"
           target="_blank">Activer mon compte</a>
    </div>
    <div style="padding-bottom: 30px">
        Ce lien de compte d'activation expirera dans 60 minutes. Si vous avez fait
        ne demandez pas un compte d'enregistrement, aucune autre action n'est requise.
    </div>
    <div style="border-bottom: 1px solid #eeeeee; margin: 15px 0"></div>
    <div style="padding-bottom: 10px">
        Bien à vous, <br>
        l'équipe {{ config.society }}.
    </div>
</div>