{% extends 'security/base.html.twig' %}

{% block body %}
    <div class="p-10 p-lg-15 mx-auto">
        <div class="w-100">
            <p>
                Vous êtes autorisé à utiliser le Wifi en toute sécurité !
            </p>
        </div>
    </div>
{% endblock %}