{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('user_index') }}
{% endblock %}

{% block title %}Utilisateurs{% endblock %}

{% block content_title %}Utilisateurs{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb breadcrumb-dot text-muted fs-6 fw-semibold">
        <li class="breadcrumb-item">
            <a href="{{ path('user_index') }}">Utilisateurs</a>
        </li>
    </ol>
{% endblock %}

{% block body %}
    {% include 'components/user/_datatable.html.twig' %}
{% endblock %}