{% extends 'security/base.html.twig' %}

{% block body %}
    <div class="w-lg-600px p-10 p-lg-15 mx-auto">
        <div class="d-flex flex-row-fluid flex-column flex-column-fluid text-center p-10 py-lg-20">

            <div class="mb-10 text-center">
                <h1 class="text-{{ app_service_http.convertToColor(exception.statusCode) }} mb-3">[{{ exception.statusCode }}] {{ exception.statusText }}</h1>
            </div>

            <div class="fw-semibold fs-3 text-muted mb-15">
                Quelque chose s'est mal passé :(.
            </div>
            <div class="text-center">
                <a href="{{ path('home') }}" class="btn btn-lg btn-primary fw-bold">
                    <span>Retourner à l'accueil</span>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

