{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block content_title %}Home{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb breadcrumb-dot text-muted fs-6 fw-semibold">
        <li class="breadcrumb-item">
            <a href="{{ path('home') }}">Accueil</a>
        </li>
    </ol>
{% endblock %}

{% block body %}

{% endblock %}